<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seleccion hora</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
   <div class="container">
        <h1 th:text="${servicio.titulo}"></h1>
        <p th:text="${servicio.descripcion}"></p>
        <p><strong>Duración:</strong> <span th:text="${servicio.duracion}"></span> minutos</p>
        <p><strong>Precio:</strong> $<span th:text="${servicio.precio}"></span></p>
   </div>

 <div class="container mt-4">
       <h2>Fecha seleccionada</h2>
       <p><strong>Fecha:</strong> <span th:text="${fechaSeleccionada}"></span></p>
   </div>

   <!-- Listado de horas disponibles -->
   
    <div class="container mt-4">
       <h2>Hora seleccionada</h2>
       <p><strong>Hora:</strong> <span th:text="${horaSeleccionada}"></span></p>
   </div>
   
     <div class="container mt-4">
       <h2>Hora seleccionada</h2>
       <p><strong>Hora:</strong> <span th:text="${horaSeleccionadaFin}"></span></p>
   </div>
   

    <div class="container mt-4">
       <h2>Barberos disponibles</h2>
       <select id="barberoSeleccionado" class="form-select">
           <option th:each="barbero : ${barberos}" th:value="${barbero.nombre}" th:text="${barbero.nombre}"></option>
       </select>
   </div>
   

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

